#game, #game_buffer {
    display:block;
    width: 600px;
    margin: auto;
    border: 1px solid black;
}

#game_buffer {
    position: fixed;
    visibility: hidden;
}

body {    
    margin-top: 60px;
}

p {
    margin: 0.5rem auto;
    width: 600px;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
}