[submodule "PCGSummerSchool2019Project"]
	path = PCGSummerSchool2019Project
	url = https://github.com/nilsgawlik/PCGSummerSchool2019Project.git
[submodule "js13k2919"]
	path = js13k2919
	url = https://github.com/nilsgawlik/js13k2919.git
[submodule "gaw_20_01"]
	path = gaw_20_01
	url = https://github.com/nilsgawlik/gaw_20_01.git
