@font-face {
    font-family: Makhina;
    src: url(fonts/makhina.ttf) format('truetype');
}

html {
    color: #222;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

header h1, header h2, header h3{
    margin: 0;
    padding: 0;
}

/* header h1 {
    margin-top: 10px;
} */

header {
    margin-top: 3vw;
}

/* mobile */

.bio {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "photo" "text";
}

.bio-text {
    grid-area: text;
}

.bio-photo {
    grid-area: photo;
    height: 150px;
    width: 150px;
    margin: 20px auto 30px auto;
}

.bio-photo > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* override some values for tablets and desktop */
@media only screen and (min-width: 600px) {
    .bio {
        grid-template-columns: auto auto;
        grid-template-areas: "text photo";
    }

    .bio-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bio-photo {
        margin-left: 30px;
        grid-area: photo;
    }
}

h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: .2em;
}

h3 {
    margin-top: 80px;
    margin-bottom: 32px;
    letter-spacing: .1em;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
}

/* navigation, default (mobile) */

ul.menu {
    margin-top: 30px;
    list-style-type: none;
}

ul.menu li {
    margin: 0;
    padding: 1em 0;
    border-top: 1px solid black;
}

ul.menu li:first-child {
    padding-top: 0;
    border-top-style: none;
}

/* navigation, tablet and desktop overrides */
@media only screen and (min-width: 600px) {
    ul.menu {
        margin-top: 20px;
    }

    ul.menu li {
        display: inline-block;
        margin: 0;
        padding: 0 1em;
        border-top-style: none;
        border-left: 1px solid black;
    }
    
    ul.menu li:first-child {
        padding-left: 0;
        border-left-style: none;
    }
}


body {
    margin: 0 auto;
    padding: 0 ;
    width: 75vw;
    max-width: 960px;
    padding-bottom: 80px;
}

a {
    text-decoration: none;
}

header h3 {
    margin-top: 8px;
}

section h3 {
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 112.5%;
}

section p {
    margin-top: 20px;
    margin-bottom: 24px;
    line-height: normal;
}

section li {
    margin-left: 20px;
    line-height: normal;
}

section img {
    max-width: 100%;
}

ul.game-section > li {
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
}

ul.game-section h3{
    margin-top: 6px;
    margin-bottom: 5px;
}

ul.game-section img {
    display: block;
    max-width: 100%;
}

footer {
    margin-top: 80px;
    padding-top: 16px;
    border-top: 1px solid black;
    font-size: 75%;
}
